<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="IWBpath" value="F:\Shared\Batchfiles\IWB.bat"/>
    <add key="OCRpath" value="F:\Shared\Batchfiles\OCR.bat"/>
    <add key="OSApath" value="F:\Shared\Batchfiles\OSA.bat"/>
    <add key="DMpath" value="F:\Shared\Batchfiles\DM.bat"/>
    <add key="DSpath" value="F:\Shared\Batchfiles\DS.bat"/>
    <add key="IWBTotalpath" value="F:\Shared\Batchfiles\IWBTotal.bat"/>
    <add key="OCRTotalpath" value="F:\Shared\Batchfiles\OCRTotal.bat"/>
    <add key="OSATotalpath" value="F:\Shared\Batchfiles\OSATotal.bat"/>
    <add key="DMTotalpath" value="F:\Shared\Batchfiles\DMTotal.bat"/>
    <add key="DSTotalpath" value="F:\Shared\Batchfiles\DSTotal.bat"/>
  </appSettings>

</configuration>
